BOT_TOKEN=
CLIENT_ID=1058387897352470609
OWNER_ID=
PREFIX=xt
LAVALINK_HOSTS=lavav4.minecuta.com,lavalinkv4.serenetia.com,lava-v4.millohost.my.id
LAVALINK_PORTS=2333,443,443
LAVALINK_PASSWORDS=discord.gg/gKuXdHs,https://seretia.link/discord,https://discord.gg/mjS5J2K3ep
LAVALINK_SECURES=false,true,true
DEFAULT_PLATFORM=ytsearch
GENIUS_API_KEY=
